################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Design-Pattern/v17/.wsuo
/.vs/Design-Pattern/v17/DocumentLayout.json
*.json
